<div class="jumbotron">
	<h1 class="text-center">Angular 2 - Formulário</h1>
	<hr />
	<div class="alert alert-success" role="alert">
		Formulário enviado com sucesso!
	</div>

	<form>
		<div class="form-group">
			<label class="control-label" for="nome">Nome</label>
			<input type="text" class="form-control" name="nome"
				id="nome">
		</div>
		<div class="form-group">
			<label class="control-label" for="email">Email</label>
			<input type="text" class="form-control" name="email"
				id="email">
		</div>
		<div class="form-group">
			<label class="control-label" for="idade">Idade</label>
			<input type="text" class="form-control" name="idade"
				id="idade">
		</div>
		<div class="form-group">
			<label class="control-label" for="curso">Curso</label>
			<select name="curso" id="curso" class="form-control">
				<option value="">Selecione</option>
			</select>
		</div>
		<hr />
		<div class="form-group text-center">
			<button type="submit" class="btn btn-primary">Enviar</button>
		</div>
	</form>
</div>
